body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: url(../img/PORTRAITS/image16.jpg) no-repeat center bottom / cover;
  padding: 0;
  overflow: hidden;
  margin: 0%;
}

nav {
  margin: 5% 0;
  padding: 16px;
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
}

.menuItems {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: flex-start;
}

.menuItems li {
  margin-right: 20px;
}

.menuItems li a {
  font-size: 2em;
  padding: 1em;
  text-decoration: none;
  color: #357a93;
  font-weight: 800;
  font-family: monospace;
  transition: all 0.5s ease-in-out;
  position: relative;
  text-transform: uppercase;
  text-align: left;

  &::before {
    content: attr(data-item);
    transition: 0.5s;
    color: #030303;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
  }

  &:hover {
    font-weight: bold;
    color: #060606;
  }
}

.sub-menu {
  display: none;
  position: absolute;
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sub-menu li {
  margin: 0;
}

.sub-menu a {
  text-decoration: none;
  color: #060606;
  font-size: 16px;
  font-weight: 400;
  font-family: monospace;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;

  &::before {
    content: attr(data-item);
    transition: 0.5s;
    color: #020202;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
  }

  &:hover {
    font-weight: bold;
  }
}

.menuItems li:hover .sub-menu {
  display: block;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  font-size: 11px;
  padding: 10px 10px 0px 10px;
  position: fixed;
  width: 100%;
  height: 20px;
  bottom: 0;
  z-index: 2;
}

body p {
  color: #0f0e0e;
  text-align: left;
  margin-left: 40px;
  margin-right: 100px;
  padding: 10px;
  line-height: 2;
  text-shadow: azure;
  font-size: 15px;
  margin-top: 80px;
  margin-bottom: 2px;
}

@media only screen and (max-width: 435px) {
  nav,
  .menuItems,
  .menuItems li {
    margin: 5% 0;
  }

  .menuItems li a {
    font-size: 1.5em;
    padding: 0.5em;
  }

  body p {
    font-size: 14px;
    text-align: justify;
    margin-left: 5px;
    margin-top: 2px;
    margin-right: 5px;
  }

  body {
    background: url(../img/PORTRAITS/image16.jpg) no-repeat center bottom / contain;
  }
}

@media only screen and (max-width: 415px) {
  .menuItems li a,
  body p {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 376px) {
  .menuItems li a,
  body p {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 400px) {
  .menuItems li a,
  body p {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 365px) {
  .menuItems li a,
  body p {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 290px) {
  nav,
  .menuItems,
  .menuItems li {
    margin: 3% 0;
  }

  .menuItems li a {
    font-size: 1em;
    padding: 0.5em;
  }

  body p {
    font-size: 8.5px;
    text-align: justify;
    margin-left: 5px;
    margin-top: 2px;
    margin-right: 5px;
  }

  body {
    background: url(../img/PORTRAITS/image16.jpg) no-repeat center bottom / contain;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait),
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  nav,
  .menuItems,
  .menuItems li {
    margin: 5% 0;
  }

  .menuItems li a {
    font-size: 1.5em;
    padding: 0.5em;
  }

  body p {
    font-size: 15px;
    text-align: left;
    margin-left: 40px;
    margin-right: 100px;
    padding: 10px;
    line-height: 2;
    text-shadow: azure;
    margin-top: 80px;
    margin-bottom: 2px;
  }

  body {
    background: url(../img/PORTRAITS/image16.jpg) no-repeat center bottom / contain;
  }
}






