body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url(../img/SEA/imag8.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}

nav {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  margin: 0;
}

.menuItems {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menuItems li {
  margin-right: 20px;
}

.menuItems li a {
  text-decoration: none;
  color: #030303;
  font-size: 18px;
  font-weight: 400;
  font-family: monospace;
  transition: all 0.5s ease-in-out;
  position: relative;
  text-transform: uppercase;

  &::before {
    content: attr(data-item);
    transition: 0.5s;
    color: #030303;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
  }

  &:hover {
    font-weight: bold;
  }
}

.sub-menu {
  display: none;
  position: absolute;
  z-index: 1;
}

.sub-menu {
  list-style: none;
  /* Rimuovi la numerazione dal sottomenu */
  padding: 0;
  /* Rimuovi il padding */
}

.sub-menu li {
  margin: 0;
  /* Rimuovi il margine tra le voci del sottomenu */
}

.sub-menu a {
  text-decoration: none;
  color: #060606;
  font-size: 16px;
  /* Riduci la dimensione del testo del sottomenu se necessario */
  font-weight: 400;
  font-family: monospace;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;

  &::before {
    content: attr(data-item);
    transition: 0.5s;
    color: #020202;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
  }

  &:hover {
    font-weight: bold;
  }
}

.menuItems li:hover .sub-menu {
  display: block;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  font-size: 11px;
  padding: 10px;
  position: fixed;
  width: 100%;
  /* Cambiado a 100% para ocupar todo el ancho de la página */
  height: 10px;
  /* Puedes ajustar la altura según tus preferencias */
  bottom: 0;
  z-index: 2;
}

form {
  padding: 2px 45px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-align: center;
  width: 50%;
  max-width: 900px;
  height: 700px;
  /* Cambiado a auto para que se ajuste al contenido */
  margin: 20px auto 90px;
  align-items: center;
  box-sizing: border-box;
  /* Incluye padding y borde en el ancho y alto */
}

/* Asegura que el contenido dentro del formulario sea responsive */
form * {
  box-sizing: border-box;
}

.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

h2 {
  color: #283629;
  font-size: 30px;
  /* Adjusted the font size */
  text-align: left;
}

label {
  color: #f4f3f7;
  font-size: 16px;
  /* Adjusted the font size */
  font-weight: 1000;
  margin-bottom: 10px;
  /* Adjusted the margin-bottom */
}

input,
textarea {
  padding: 15px 25px;
  /* Adjusted the padding */
  border-radius: 20px;
  /* Slightly reduced the border-radius */
  margin-bottom: 10px;
  /* Adjusted the margin-bottom */
  background-color: #e1ede3;
  border: 2px solid #b3adb2;
  color: #283629;
  outline: none;
}

.input-group textarea {
  min-height: 50px;
  /* Set a minimum height for textarea */
}

input::placeholder,
textarea::placeholder {
  color: #3b3f4b;
}

.form-txt {
  margin-bottom: 20px;
  /* Adjusted the margin-bottom */
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.form-txt a {
  color: #76b28e;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.btn {
  font-size: 16px;
  /* Adjusted the font size */
  border-radius: 20px;
  background-color: #868583;
  box-shadow: 0 0 20px rgba(100, 101, 100, 0.4);
  cursor: pointer;
}

.btn:hover {
  background-color: #7c5a9c;
  color: #fff;
  box-shadow: 0 0 25px rgba(100, 101, 100, 0.6);
  transform: scale(1.03);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
}


@media only screen and (max-width: 376px) {
  nav {
    margin: 5% 0;
  }

  .menuItems {
    flex-direction: row;
    align-items: center;
  }

  .menuItems li {
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 3px;
  }

  .menuItems li a {
    font-size: 1.5em;
    padding: 0.5em;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-image: url(../img/SEA/imag8.JPG);


    background-position: center;
  }



  form {
    width: 90%;
    max-width: 400px;
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }

  input,
  textarea {
    padding: 10px;
    width: 100%;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
  }

  h2 {
    color: #283629;
    font-size: 30px;
    text-align: left;
  }

  label {
    color: #f4f3f7;
    font-size: 16px;
    font-weight: 1000;
    margin-bottom: 10px;
  }

  input,
  textarea {
    padding: 15px 25px;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: #e1ede3;
    border: 2px solid #b3adb2;
    color: #283629;
    outline: none;
    box-sizing: border-box;
  }

  .input-group textarea {
    min-height: 100px;
  }

  input::placeholder,
  textarea::placeholder {
    color: #3b3f4b;
  }

  .form-txt {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .form-txt a {
    color: #76b28e;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
  }
}

@media only screen and (max-width: 420px) {

  body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-image: url(../img/SEA/imag8.JPG);


    background-position: center;
  }

  form {
    width: 90%;
    max-width: 400px;
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }


}

@media only screen and (max-width: 440px) {

  body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-image: url(../img/SEA/imag8.JPG);


    background-position: center;
  }

  form {
    width: 90%;
    max-width: 400px;
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }


}

@media only screen and (max-width: 290px) {

  nav {
    margin: 5% 0;
  }

  .menuItems {
    flex-direction: row;
    align-items: center;
  }

  .menuItems li {
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 3px;
  }

  .menuItems li a {
    font-size: 1em;
    padding: 0.5em;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-image: url(../img/SEA/imag8.JPG);


    background-position: center;
  }

  form {
    width: 90%;
    max-width: 400px;
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }

  form * {
    box-sizing: border-box;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  h2 {
    color: #283629;
    font-size: 30px;
    /* Adjusted the font size */
    text-align: left;
  }

  label {
    color: #f4f3f7;
    font-size: 16px;
    /* Adjusted the font size */
    font-weight: 1000;
    margin-bottom: 10px;
    /* Adjusted the margin-bottom */
  }

  input,
  textarea {
    padding: 15px 25px;
    /* Adjusted the padding */
    border-radius: 20px;
    /* Slightly reduced the border-radius */
    margin-bottom: 10px;
    /* Adjusted the margin-bottom */
    background-color: #e1ede3;
    border: 2px solid #b3adb2;
    color: #283629;
    outline: none;
  }

  .input-group textarea {
    min-height: 50px;
    /* Set a minimum height for textarea */
  }

  input::placeholder,
  textarea::placeholder {
    color: #3b3f4b;
  }

  .form-txt {
    margin-bottom: 20px;
    /* Adjusted the margin-bottom */
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .form-txt a {
    color: #76b28e;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
  }

  .btn {
    font-size: 16px;
    /* Adjusted the font size */
    border-radius: 20px;
    background-color: #868583;
    box-shadow: 0 0 20px rgba(100, 101, 100, 0.4);
    cursor: pointer;
  }

  .btn:hover {
    background-color: #7c5a9c;
    color: #fff;
    box-shadow: 0 0 25px rgba(100, 101, 100, 0.6);
    transform: scale(1.03);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
  }


}

@media only screen and (max-width: 1024px) {
  /* Estilos específicos para iPads u otras pantallas de tamaño similar */

  nav {
    margin: 1% 0;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-image: url(../img/SEA/imag8.JPG);


    background-position: center;
  }

  form {
    width: 70%;
    /* Puedes ajustar según sea necesario para la mejor apariencia en iPad */
    max-width: 600px;
  }

  /* Agrega otras reglas según sea necesario para otros elementos específicos */
}