.contenedor {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  text-align: center;
  padding: 20px;
  font-family: monospace;
  margin-bottom: 60px;
  /* Ajusta este valor según la altura de tu footer */
}

/* Establece un estilo básico para el footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  font-size: 11px;
  padding: 10px;
  position: fixed;
  width: 100%;
  /* Cambiado a 100% para ocupar todo el ancho de la página */
  height: 10px;
  /* Puedes ajustar la altura según tus preferencias */
  bottom: 0;
  z-index: 2;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.mosaico {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.imagen {
  width: 200px;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
}

.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  height: auto;
}

/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  display: block;
  width: 100%;
  height: 100%;
}

.modal img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.close {
  color: #fff;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

nav {

  background-size: cover;
  background-repeat: no-repeat;
  padding: 16px;
  /* Regola la spaziatura interna */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: #020202;
}

.menuItems {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  /* Rimuovi il padding dal menuItems */
}

.menuItems li {
  margin-right: 20px;
}

.menuItems li a {
  text-decoration: none;
  color: #030303;
  font-size: 30px;
  font-weight: 400;
  font-family: monospace;
  transition: all 0.5s ease-in-out;
  position: relative;
  text-transform: uppercase;

  &::before {
    content: attr(data-item);
    transition: 0.5s;
    color: #030303;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
  }

  &:hover {
    font-weight: bold;
  }
}

.sub-menu {
  display: none;
  position: absolute;
  z-index: 1;
}

.sub-menu {
  list-style: none;
  /* Rimuovi la numerazione dal sottomenu */
  padding: 0;
  /* Rimuovi il padding */
}

.sub-menu li {
  margin: 0;
  /* Rimuovi il margine tra le voci del sottomenu */
}

.sub-menu a {
  font-size: 14px;
  /* Ajusta este valor según tus preferencias */
  padding: 8px 12px;
  /* Ajusta el espaciado interno */
}

.menuItems li {
  margin-right: 10px;
  /* Ajusta el espaciado entre elementos del menú */
}

.menuItems li a {
  font-size: 20px;
  /* Ajusta el tamaño del texto del menú principal */
}

.menuItems li:hover .sub-menu {
  display: block;
  position: static;
  /* Cambia la posición para que aparezca debajo del elemento padre */
}

.dropdown-content {
  position: static;
  /* Cambia la posición para que aparezca debajo del elemento padre */
  width: 100%;
  /* Ocupa el ancho completo */
}

@media only screen and (max-width: 600px) {
  /* Estilos para pantallas más pequeñas */
}